
<div class="container">
    <nav class="navbar navbar-expand-sm navbar-dark bg-dark">
        

        <div class="collapse navbar-collapse" id="navbarsExample03">
            <ul class="navbar-nav mr-auto">
                <ng-container *ngFor="let nav of navItems;let i = index">
                    <li class="nav-item dropdown" *ngIf="nav.SubItem.length>0;else menuItem">
                        <a class="nav-link dropdown-toggle"  id="dropdown03"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{{nav.Item}}</a>
                        <div class="dropdown-menu" aria-labelledby="dropdown03">
                            <ng-container *ngFor="let subItem  of nav.SubItem">
                                <a class="dropdown-item" [routerLink]="subItem.Link">{{subItem.Item}}</a>
                            </ng-container>
                        </div>
                    </li>
                    <ng-template #menuItem>
                        <li class="nav-item">
                            <a class="nav-link" [routerLink]="nav.Link">{{nav.Item}}</a>
                        </li>
                    </ng-template>
                </ng-container>
            </ul>
            <!-- <form class="form-inline my-2 my-md-0">
                <input class="form-control" type="text" placeholder="Search">
            </form> -->
            <div class="navbar-nav ml-auto">
                <a routerLink="/login" class="nav-item nav-link">Login</a>
                <a routerlink="/signUp" class="nav-item nav-link">Signup</a>
            </div>
        </div>
    </nav>
</div>